[Unit]
Description=set a new wallpaper every day
Requires=network-online.target
After=network-online.target

[Timer]
OnCalendar=*-*-* 7:07:07
Persistent=true
RandomizedDelaySec=7s

[Install]
WantedBy=timers.target
