[Unit]
Description=set a random wallpaper
StartLimitIntervalSec=10

[Service]
Type=oneshot
Restart=on-failure
RestartSec=3
StartLimitBurst=3
ExecStart=%h/.config/sway/random_wallpaper2.py

