[Unit]
Description=set a new wallpaper every day
PartOf=sway-session.target
After=sway-session.target

[Timer]
OnCalendar=*-*-* 7:07:07
Persistent=true
RandomizedDelaySec=7s

[Install]
WantedBy=timers.target
