[Unit]
Description=set a new wallpaper every day

[Timer]
OnCalendar=*-*-* 7:07:07
Persistent=true
RandomizedDelaySec=7s

[Install]
WantedBy=timers.target
