[submodule "vim/.vim/bundle/pathogen"]
	path = vim/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/molokai"]
	path = vim/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/.vim/bundle/unite"]
	path = vim/.vim/bundle/unite
	url = https://github.com/Shougo/unite.vim
[submodule "vim/.vim/bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
