[submodule ".config/shell/zsh/zsh-syntax-highlighting"]
	path = .config/shell/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/vim/bundle/pathogen"]
	path = .config/vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".config/vim/bundle/molokai"]
	path = .config/vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule ".config/vim/bundle/airline"]
	path = .config/vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
