configuration {
	font: "Iosevka SS07 Extended Medium 18";
	display-drun: "";
	show-icons: true;
	display-combi: "::";
	display-window: "::";
	drun-match-fields: "name,generic,exec,categories";
}

@theme "mytheme"
