configuration {
	lines: 3;
	font: "Source Code Pro 16";
	color-normal: "#222222, #ffffff, #222222, #009f6b, #222222";
	color-urgent: "#fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3";
	color-active: "#fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3";
	color-window: "#222222, #009f6b, #222222";
}
